.container {
    box-sizing: border-box;
    border: 2px solid red;
    background-color: white;
    border-radius: 12px;
    max-width: 320px;
}

.qr-container {
    border: 2px solid blue;
}

img {
    width: 100%;
}

.text {
    border: 2px solid green;
}