
body {
     background-color: aquamarine;
    font-size: 11px; 
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.container {
    align-self: center;
    /*border: 2px solid red;*/
    background-color: white;
    border-radius: 12px;
    max-width: 320px;
    padding: 20px;
}

.qr-container {
    border-radius: 12px;
    /*border: 2px solid blue;*/
}

img {
    border-radius: 12px;
    width: 100%;
}

.text {
   /* border: 2px solid green;*/
}